@import 'common.scss';
@import 'var.scss';
@import 'mixin.scss';

@media(max-width:320px) {

  .container {
    max-width: 320px !important;
  }

  .header {
    margin-top: 30px;

    &_logo {
      margin-top: 0px;
    }

    &_profile {
      margin-right: 5px;
    }
  }

  .content {
    margin-top: 87px !important;
    margin-bottom: 57px !important;

    &_title {
      margin-bottom: 40px !important;
    }

    &_description {
      margin-left: 0px !important;
      margin-bottom: 34px;
    }

    &_form {
      &_input {
        padding-left: 10px;
      }
      &_btn {
        padding: 10.5px 22px;
      }
    }
  }


}
